.container {
	width: 700px;
	margin: 0 auto;
}
@media (max-width: 960px) {
	.container {
		width: 700px;
	}
	.search{
		width: 700px;
	}
}
@media (max-width: 720px) {
	.container {
		width: 500px;
	}
	.search{
		width: 500px;
	}
}
@media (max-width: 540px) {
	.container {
		width: 300px;
	}
	.search{
		width: 300px;
	}
}